<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    <h1>Результаты голосования</h1>
    <h2>Mommy:</h2>
    <p>Yes: {{ answers.mommy.yes }}</p>
    <p>No: {{ answers.mommy.no }}</p>
    <p>Not Sure: {{ answers.mommy['not-sure'] }}</p>
    <h2>Daddy:</h2>
    <p>Yes: {{ answers.daddy.yes }}</p>
    <p>No: {{ answers.daddy.no }}</p>
    <p>Not Sure: {{ answers.daddy['not-sure'] }}</p>
    <a href="/change_answers">Изменить ответы</a>
</body>
</html>
