<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <form action="/results" method="POST">
        <fieldset>
            <legend>Is your mom awesome?</legend>
            <label><input type="radio" name="mommy" value="yes"> Yes</label>
            <label><input type="radio" name="mommy" value="no"> No</label>
            <label><input type="radio" name="mommy" value="not-sure"> Not Sure</label>
        </fieldset>
        <fieldset>
            <legend>Is your dad awesome?</legend>
            <label><input type="radio" name="daddy" value="yes"> Yes</label>
            <label><input type="radio" name="daddy" value="no"> No</label>
            <label><input type="radio" name="daddy" value="not-sure"> Not Sure</label>
        </fieldset>
        <button type="submit">Отправить</button>
    </form>
</body>
</html>
